* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body{
  margin: 0;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white
}

input{
  padding: 15px;
}

button{
  padding: 10px;
  background: black;
  margin: 5px;
  color: white;
}

button:hover{
  background: rgba(0, 0, 0, 0.317);
}

header menu ul{
  display: flex;
  flex-direction: row;
  gap: 12px;
}
ul li{
  list-style: none;
  cursor: pointer;
}

ul li:hover{
  color: yellow;
}

main{
  padding: 12px;
}