* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body{
  margin: 0;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white
}

header menu ul{
  display: flex;
  flex-direction: row;
  gap: 12px;
}
ul li{
  list-style: none;
  cursor: pointer;
}

ul li:hover{
  color: yellow;
}

main{
  padding: 12px;
}